.timer_form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  
}

.timer_input {
    padding: 10px 12px;
    outline: none;
    border-radius: 6px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
}

.timer_btn {
    padding: 10px 12px;
    outline: none;
    border-radius: 6px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    margin-inline: auto;
    cursor: pointer;
    font-weight: 600;
}